* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
img {
	display: block;
	width: 100%;
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
nav {
	display: flex;
	height: 50px;
	top: 0;
	position: fixed;
	width: 100%;
	background: #333;
	align-items: center;
	justify-content: space-between;
}
a.brand-logo {
	display: block;
	color: #FFF;
	margin-left: 20px;
	font-size: 20px;
}
nav ul {
	list-style-type: none;
	display: flex;
}
nav ul li a {
	display: block;
	color: #FFF;
	padding: 0 20px;
	line-height: 50px;
	background: #333;
	font-size: 14px;
	transition: background .3s;
}
nav ul li a:hover {
	background: #555;
}
.intro-header {
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 0;
	padding: 0 50px;
}
.intro-text {
	line-height: 1.5;
	font-size: 18px;
	padding: 0 50px;
}
.content-grid {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 70px;
}
.card {
	border: 1px solid #CCC;
	box-shadow: 0px 2px 4px rgba(0,0,0,.25);
}
.card-content p {
	font-size: 24px;
	margin: 0;
	padding: 20px;
	text-align: center;
}
.card-action a {
	display: block;
	text-align: center;
	color: #333;
	padding: 20px;
	background: #FFF;
	border-top: 1px solid #CCC;
	transition: background .3s;
}
.card-action a:hover {
	background: #ffc107;
}
footer {
	background: #333;
	padding: 30px 20px 50px 20px;
	display: flex;
	margin-top: 50px;
}
.contact, .connect {
	flex: 1;
	color: #FFF;
	padding: 0 40px;
}
.contact h3, .connect h3 {
	font-size: 20px;
	font-weight: 100;
	margin: 0 0 10px 0;
	letter-spacing: 1px;
}
.connect ul {
	display: flex;
}
.connect img {
	width: 35%;
}
form {
	position: relative;
}
input.form-control {
	display: inline-block;
	width: 100%;
	padding: 0 10px;
	line-height: 40px;
	font-size: 16px;
	background: #CCC;
	border: 1px solid #000;
	border-radius: 15px;
	color: #333;
	font-weight: 100;
}
input::placeholder {
	color: #999;
}
button.form-control {
	position: absolute;
	display: inline-block;
	font-size: 14px;
	border: 0px;
	background: #ffc107;
	padding: 0 20px;
	width: 150px;
	line-height: 40px;
	cursor: pointer;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	right: 0px;
	top: 1px;
	box-shadow: -2px 0px 4px rgba(0,0,0,.35);
	transition: all .3s;
}
button.form-control:hover {
	width: 100%;
	border-radius: 15px;
}

@media screen and (max-width:800px){
	body {
		padding-top: 50px;
	}
	.intro-header, .intro-text {
		padding: 0;
	}
	.content-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 35px;
	}
	footer {
		padding: 20px;
		display: block;
	}
	.connect {
		margin-top: 30px;
	}
	.connect img {
		width: 50%;
	}
}

@media screen and (max-width:480px){
	.content-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}